lung_segmentation/unet16_bse_20.pth filter=lfs diff=lfs merge=lfs -text
lung_segmentation/unet16_bse_40.pth filter=lfs diff=lfs merge=lfs -text
lung_segmentation/unet16_100.pth filter=lfs diff=lfs merge=lfs -text
